.resume-page {
    width: 90%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-left: 80px; /* Add margin to account for the sidebar */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    flex-grow: 1; /* Allow to grow and take available space */
    position: absolute;
    min-height: 0; //undo the container min-height because resume is going to overflows
}
  
.resume {
      display: flex;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      overflow: hidden;
      background-color: #fff;
      padding: 20px;
      overflow: auto; /* Enable scrolling if content overflows */
      max-width: 100%; /* Ensure it doesn't overflow the container */
      max-height: 80%;
  }
  
  @media (max-width: 786px) {
      .resume-section {
          padding: 20px;
          margin-left: 80px; /* Ensure margin-left is consistent */
      }
  
      .resume {
          padding: 10px;
      }
  }
  
  @media (min-width: 787px) {
      .resume-section {
          padding: 40px;
          margin-left: 80px; /* Ensure margin-left is consistent */
      }
  
      .resume {
          padding: 30px;
      }
  }